.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "DM Sans", sans-serif;
}

.top-section {
  display: flex;
  gap: 25px;
  align-items: stretch;
  width: 100%;
}

.welcome-card {
  flex: 0 0 66%;
  background-color: #f8cfc6 !important;
  border-radius: 15px;
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid #e1a79c !important; 
  min-height: 300px;
  box-sizing: border-box;
}
.welcome-text {
  display: flex;
  flex-direction: column;
  gap: 8px; 
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.welcome-text h2 {
  color: #001b44;
  font-size: 48px !important;
  font-weight: lighter;
  margin-bottom: 5px;
  margin: 0;
  line-height: 2;
}

.welcome-text h3 {
  color: #001b44;
  font-size: 44px !important;
  font-weight: 700;
  margin-top: 20px;
  line-height: 1.1;
}

.welcome-img {
  width: 300px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
}

.streak-card {
  flex: 0 0 32%;
  background-color: #fdf2e9 !important;
  border-radius: 15px;
  padding: 30px;
  text-align: left;
  position: relative;
  border: 1.5px solid #f0c6a5; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  min-height: 310px;
  box-sizing: border-box
}

.streak-card h3 {
  color: #001b44;
  font-weight:lighter;
  font-size: 28px;
  margin-bottom: 5px;
  margin-top: 0;
  line-height: 1.1;
}

.streak-card span {
  font-size: 50px;
  color: #001b44;
  font-weight: 700;
  margin-top: 0;
  line-height: 1;
}

.streak-img {
  width: 250px;
  height: auto;
  position: absolute;
  bottom: 5px;
  margin-bottom: 0.2px;
  right: 15px;
  opacity: 0.95;
  flex-shrink: 0;

}

.progress-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.card h3 {
  font-size: 18px;
  color: #001b44;
  margin-bottom: 15px;
  text-align: center;

}


.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.circle-progress {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(#3140C4 0deg, #e5e7eb 0deg);
  transition: background 1s ease;
  position: relative;

}

.circle-inner {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.percent {
  font-size: 38px;
  font-weight: bold;
  color: #3140C4;
  margin: 0;
  margin-top: 35px;
  line-height: 1;

}

.text {
  font-size: 14px;
  font-weight: lighter;
  color: #000000;
  margin-top: 15px;

}

.focus-progress {
  text-align: center;
}

.time {
  font-size: 32px;
  color: #52a35a;
  font-weight: 700;
  margin: 10px 0;
}

.plant-img {
  width: 100px;
  margin: auto;
}

/* Goal section */
.goal-section {
  margin-top: 10px;
}

.goal-card {
  background: white;
  border-radius: 15px;
  padding: 25px;
  transition: transform 0.3s ease;
}

.goal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #001b44;
  font-weight: 600;
}

.goal-top a {
  width: 12%;
  background-color: #8b7cd3;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background 0.3s ease;

}

.goal-top a:hover{
  background-color: #7263b9;

}

.bottom-section {
  margin-top: 15px;
}

.goal-item {
  margin-bottom: 15px;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.goal-item p {
  font-size: 16px;
  color: #001b44;
  font-weight: 500;
  margin-bottom: 5px;
}

.progress-bar {
  background-color: #eaeaea;
  height: 8px;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  width: 0;
  transition: width 0.4s ease;
}

.progress-fill:nth-child(1) { background-color: #F36B80; } 
.progress-fill:nth-child(2) { background-color: #3140C4; } 
.progress-fill:nth-child(3) { background-color: #FFC727; } 
.progress-fill:nth-child(4) { background-color: #80B3A2; } 
.progress-fill:nth-child(5) { background-color: #FAE0DC; }
.progress-fill:nth-child(6) { background-color: #E37E68; }
.progress-fill:nth-child(7) { background-color: #8A80C9; }


.empty {
  color: #777;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.goal-item.completed p {
  text-decoration: line-through;
  opacity: 0.7;
  color: #4ade80; 
}

.goal-item:hover {
  transform: scale(1.02);
}



/* Responsive Top Section */
@media (max-width: 900px) {
    .dashboard-container {
    overflow-x: hidden; 
    padding: 0 10px;
  }

  .top-section {
    flex-direction: column; 
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .welcome-card,
  .streak-card {
    width: 100%;
    max-width: 100%;
    min-width: unset; 
  }

  .welcome-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 25px 20px;
    min-height: 260px;

    border-radius: 15px;
  }

  .streak-card {
    min-height: 200;
    text-align: center;
    align-items: center;
  }

  .streak-img {
    position: static; 
    margin-top: 15px;
    width: 200px;
  }

  .welcome-img {
    width: 190px;
    height: auto;
    margin-top: 15px;
    margin-left: 0;     
    margin-right: 0;
    display: block;
  }

  .welcome-text {
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }


  .welcome-text h2 {
    font-size: 30px !important;
    line-height: 1.1;
    margin-bottom: 5px;
  }

  .welcome-text h3 {
    font-size: 28px !important;
    margin-top: 5px;
  }

    .goal-top a {
    width: auto !important;
    padding: 10px 18px;
    font-size: 0.85rem;
    border-radius: 10px;
  }
  
  .goal-form .add-goal-btn {
    width: 100% !important;
    background-color: #8b7cd3;
    color: white;
    padding: 14px !important;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border: none;
    margin-top: 15px;
  }
}