body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f2ec;
  margin: 0;
  padding: 0;
}

.login-wrapper {
  display:flex;
  align-items:center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  padding: 0px 200px;
}

.login-left {
  flex: 1;
  max-width: 400px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
}

.subtitle {
  color: #f5b301;
  font-weight: 600;
  text-align: center;
  margin-bottom: 100px;
}

form input {
  width: 100%;
  padding: 14px;
  border-radius: 50px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 1rem;
  background-color: transparent;
  color: #000; 
  transition: border 0.3s ease;
}

form input:focus {
  outline: none;
  border: 1.5px solid #FFC727;
  background-color: transparent;
}


.login-btn {
  width: 106%;
  background-color: #8b7cd3;
  color: #fff;
  padding: 14px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 40px;
}

.login-btn:hover {
  background-color: #7263b9;
}

.error {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

.register-section {
  text-align: center;
  margin-top: 20px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px; 
  margin-bottom: 20px; 
}

.line {
  flex: 1;
  height: 1px;
  background-color: #bfbfbf;
  max-width: 100px;
}

.divider p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: #888;  
}

.register-link a {
  color: #f5b301;
  font-weight: 600;
  text-decoration: none;
  margin-top: 20px;
  font-size: 0.95rem;
  transition: color 0.3s;
}

.register-link a:hover {
  text-decoration: underline;
}

.login-right {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}

.login-right img {
  width: 500px;
  max-width: 100%;
  margin-left: 200px;

}

.tagline {
  font-size: 1.1rem;
  font-weight: 600;
  color: #222;
  margin-top: 20px;
}

/* Responsive */
@media (max-width: 900px) {
  .login-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 30px 10px;
    margin-left: -20px;  
    gap: 30px;
    width: 100%;
  }

  .login-left {
    width: 100%;
    max-width: 320px;   
    text-align: center;
    margin: 0 auto;     
  }

  form input {
    width: 100% !important;  
  }


  .login-right {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 0 !important
  }

  .login-right img {
    width: 260px;
    max-width: 100%;
    margin-left: 0 !important

  }
}