.new-goal-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 15px;
  max-width: 600px;
  margin: 60px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  font-family: "DM Sans", sans-serif;
}

.goal-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.goal-form label {
  font-size: 18px;
  font-weight: 500;
  color: #001b44;
  text-align: left;
}

.goal-form input {
  width: 96%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.goal-form input:focus {
  border-color: #f7c948;
  box-shadow: 0 0 0 2px rgba(247, 201, 72, 0.3);
}

.goal-form button {
  background-color: #8b7cd3;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.goal-form button:hover {
  background-color: #7263b9;
}

.error {
  color: #d9534f;
  font-size: 14px;
}

@media (max-width: 900px) {

  .new-goal-container {
    padding: 25px 20px;
    margin: 40px 10px;
    width: 100%;
    max-width: 370px;
  }

  .goal-form label {
    font-size: 16px;
  }

  .goal-form input {
    width: 95% !important;
    font-size: 15px;
    padding: 12px;
  }

  .goal-form button {
    width: 101% !important;
    padding: 14px !important;
    font-size: 16px;
    border-radius: 12px;
    font-weight: 600;
  }
}
