@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 100vh;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}

.logo {
  text-align: center;
}

.logo-img {
  width: 200px;
  margin-bottom: 10px;
}


.nav-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #b0b0b0;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-item:hover {
  background-color: #fff3cd;
  color: #f4b400;
}

.nav-item.active {
  color: #FFC727;
  font-weight: 600;
}

.material-icons {
  font-size: 24px;
}

.divider-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px; 
  margin-bottom: 10px;
}

.line-logout {
  flex: 1;
  height: 1px;
  background-color: #bfbfbf8e;
  max-width: 1000px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
}


.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #001b44;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
  margin-bottom: 40px;
  margin-top: 20px;
}

.logout:hover {
  background-color: #f8f9fa;
}