
/* === TABS (Overview / Leaderboard / Comments) === */

/* FULL-WIDTH TABS BAR */
.tabs-wrapper {
  width: 100%;
  background: #ffffff;
  padding: 10px 0;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
}

/* TABS CONTAINER */

.challenge-tabs {
  display: flex;
  gap: 28px;
}

/* SINGLE TAB */
.challenge-tab {
  padding: 10px 22px;
  cursor: pointer;
  font-weight: 600;
  color: #3a3a3a;
  background: transparent;
  border: none;
  position: relative;
  transition: 0.25s ease;
  font-size: 15px;
  border-radius: 20px;
}

/* Hover (rounded) */
.challenge-tab:hover {
  background: rgba(139, 124, 211, 0.14);
  border-radius: 20px;
}

/* ACTIVE TAB
.challenge-tab.active {
  color: #8b7cd3;
  background: rgba(139, 124, 211, 0.15);
  border-radius: 20px;
}*/

/* underline */
.challenge-tab.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%);
  width: 45%;
  height: 3px;
  background: #8b7cd3;
  border-radius: 50px;
}